<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>Title</title>
    </head>
    <script>
    </script>
    <body>
        <input type="tel" name="phone"
               id="phone" placeholder="请输入手机号" >
        <input  type="tel"
                name="input_code" id="code" placeholder="请输入验证码" >
        <input  type="button"
                style=" border-radius: 5px;width: 100%; height: 100%; text-align: center; padding-left: 2px"
                id="getCode" value="获取" οnclick="sendCode(this)">
    </body>
</html>