<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
    <head>
        <meta charset="UTF-8">
        <title>Title</title>
        <link rel="stylesheet" href="https://cdn.staticfile.org/twitter-bootstrap/3.3.7/css/bootstrap.min.css">
        <script src="https://cdn.staticfile.org/jquery/2.1.1/jquery.min.js"></script>
        <script src="https://cdn.staticfile.org/twitter-bootstrap/3.3.7/js/bootstrap.min.js"></script>
        <script src="../layer/layer.js"></script>
        <link rel="stylesheet" href="../layui/css/layui.css"  media="all">
    </head>
    <script>
        function sub(ths) {
            var $td = $(ths).parent().parent().children();
            var id = $td.eq(0).text();
            var deadLine=$td.eq(5).text();
            window.location.href="http://localhost:8080/test/renew?id="+id+"&deadLine="+deadLine;
        }
    </script>
    <script>
        function message() {
            layer.msg("已归还该图书");
        }
    </script>
    <script>
        function openwin(ths) {
            var $td = $(ths).parent().parent().children();
            var nid = $td.eq(0).text();
            var bookId = $td.eq(1).text();
            $.ajax({
                url:"/test/selPrice",
                type:"get",
                data:{
                    "bookId":bookId 
                },
                success:function (result) {
                    if(result=="lack")
                    {
                        layer.msg("余额不足");
                    }
                    else if(result=="error")
                    {
                    }
                    else
                    {
                        layer.open({
                            content: '共'+result+'元，确认缴费？'
                            ,yes: function(index, layero){
                                //按钮【按钮一】的回调
                                window.location.href="http://localhost:8080/test/compensate?id="+nid+"&price="+result;
                                layer.msg("缴费成功");
                            }
                            ,cancel: function(){
                                //右上角关闭回调

                                //return false 开启该代码可禁止点击该按钮关闭
                            }
                        });
               
                    }
                }
                
            })

        }
    </script>
    <script>
        function signout() {
            layer.open({
                content: '确定退出？'
                ,yes: function(index, layero){
                    //按钮【按钮一】的回调
                    window.location.href="http://localhost:8080/test/signout";
                    layer.msg("缴费成功");
                }
                ,cancel: function(){
                    //右上角关闭回调

                    //return false 开启该代码可禁止点击该按钮关闭
                }
            });
        }
    </script>
    <script>
        function search() {
            var name=document.getElementById("name").value
            if(name!=null&&name!="")
            {
                window.location.href="http://localhost:8080/test/searchBorrow?name="+name;
            }
            else
            {
                window.location.href="http://localhost:8080/test/myborrow";
            }
        }
    </script>
    <body>
        <div class="layui-header">
            <ul class="layui-nav" lay-filter="">
                <li class="layui-nav-item"><a href="/test/showBook">借阅图书</a></li>
                <li class="layui-nav-item layui-this"><a href="/test/myborrow">我的借阅</a></li>
                <li class="layui-nav-item"><a href="/test/selRe">待归还</a></li>
                <div class="layui-input-inline">
                    <input type="text" name="search" placeholder="请输入书名或作者名" class="layui-input" id="name" style="color: #0C0C0C">
                </div>
                <button type="button" class="layui-btn" onclick="search()">搜索</button>
            </ul>
            <ul class="layui-nav layui-layout-right">
                <li class="layui-nav-item"><img src="../image/money.png" th:text="${user.getMoney()}"></li>
                <li class="layui-nav-item">
                    <a href="javascript:;" th:text="${user.getUsername()}">
                    </a>
                    <!--                    <a href="javascript:;">个人中心</a>-->
                    <dl class="layui-nav-child"> <!-- 二级菜单 -->
                        <dd><a href="#">修改信息</a></dd>
                        <dd><a href="#">缴费</a></dd>
                        <dd><a onclick="signout()">退出</a></dd>
                    </dl>
                </li>
            </ul>
        </div>
        <table class="table">
            <thead>
            <tr>
                <th>书名</th>
                <th>作者</th>
                <th>借阅时间</th>
                <th>到期时间</th>
                <th>状态</th>
                <th>操作</th>
                <th></th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="borrow:${borrowList}">
                <td th:text="${borrow.getId()}"  style="display:none">
                <td th:text="${borrow.getBookId()}"  style="display:none">
                <td th:text="${borrow.getBookName()}"/>
                <td th:text="${borrow.getAuthor()}"/>
                <td th:text="${#dates.format(borrow.getDate(), 'yyyy-MM-dd')}"/>
                <td th:text="${#dates.format(borrow.getDeadLine(), 'yyyy-MM-dd')}"/>
                <td th:if="${borrow.getState()==2}">已归还</td>
                <td th:if="${borrow.getState()==0}">未归还</td>
                <td th:if="${borrow.getState()==1}">续借中</td>
                <td th:if="${borrow.getState()==4}">已赔偿</td>
                <td th:if="${borrow.getState()==3}">超时</td>
                <td th:if="${borrow.getReturnDate()==null&&borrow.getRenew()==null&&borrow.getState()!=3&&borrow.getState()!=4&&borrow.getState()!=2}"><button type="button" class="btn btn-primary" id="button1" onclick="sub(this)"style="outline: none"> 续借
                </button></td>
                <td th:if="${borrow.getState()==2||borrow.getState()==4}"><button type="button" class="btn btn-success"id="button3" onclick="message(this)"style="outline: none"> 完成
                </button></td>
                <td th:if="${borrow.getReturnDate()==null&&borrow.getState()==3}"><button type="button" class="btn btn-danger" id="button4" onclick="openwin(this)"style="outline: none"> 赔偿
                </button></td>
            </tr>
           
            </tbody>
        </table>
        <script src="../layui/layui.js" charset="utf-8"></script>
        <script>
            //注意：导航 依赖 element 模块，否则无法进行功能性操作
            layui.use('element', function(){
                var element = layui.element;

                //…
            });
        </script>
    </body>
</html>