<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
    <head>
        <meta charset="UTF-8">
        <title>Title</title>
        <link rel="stylesheet" href="https://cdn.staticfile.org/twitter-bootstrap/3.3.7/css/bootstrap.min.css">
        <script src="https://cdn.staticfile.org/jquery/2.1.1/jquery.min.js"></script>
        <script src="https://cdn.staticfile.org/twitter-bootstrap/3.3.7/js/bootstrap.min.js"></script>
        <script src="../layer/layer.js"></script>
        <link rel="stylesheet" href="../layui/css/layui.css"  media="all">
    </head>
    <script>
        function sub(ths) {
            var $td = $(ths).parent().parent().children();
            var id = $td.eq(0).text();
            var bookId = $td.eq(1).text();
            window.location.href="http://localhost:8080/test/returnBook?id="+id+"&bookId="+bookId;
        }
    </script>
    <script>
        function signout() {
            layer.open({
                content: '确定退出？'
                ,yes: function(index, layero){
                    //按钮【按钮一】的回调
                    window.location.href="http://localhost:8080/test/signout";
                    layer.msg("缴费成功");
                }
                ,cancel: function(){
                    //右上角关闭回调

                    //return false 开启该代码可禁止点击该按钮关闭
                }
            });
        }
    </script>
    <body>
        <div class="layui-header">
            <ul class="layui-nav" lay-filter="">
                <li class="layui-nav-item"><a href="/test/showBook">借阅图书</a></li>
                <li class="layui-nav-item"><a href="/test/myborrow">我的借阅</a></li>
                <li class="layui-nav-item layui-this"><a href="/test/selRe">待归还</a></li>
            </ul>
            <ul class="layui-nav layui-layout-right">
                <li class="layui-nav-item"><img src="../image/money.png" th:text="${user.getMoney()}"></li>
                <li class="layui-nav-item">
                    <a href="javascript:;" th:text="${user.getUsername()}">
                    </a>
                    <!--                    <a href="javascript:;">个人中心</a>-->
                    <dl class="layui-nav-child"> <!-- 二级菜单 -->
                        <dd><a href="#">修改信息</a></dd>
                        <dd><a href="#">缴费</a></dd>
                        <dd><a onclick="signout()">退出</a></dd>
                    </dl>
                </li>
            </ul>
        </div>
        <table class="table">
            <thead>
            <tr>
                <th>书名</th>
                <th>作者</th>
                <th>借阅时间</th>
                <th>到期时间</th>
                <th>操作</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="book:${reBookList}">
                <td th:text="${book.getId()}"  style="display:none">
                <td th:text="${book.getBookId()}"  style="display:none">
                <td th:text="${book.getBookName()}"/>
                <td th:text="${book.getAuthor()}"/>
                <td th:text="${#dates.format(book.getDate(), 'yyyy-MM-dd')}"/>
                <td th:text="${#dates.format(book.getDeadLine(), 'yyyy-MM-dd')}"/>
                <td><button type="button" class="btn btn-info" id="button2" onclick="sub(this)" style="outline: none"> 归还
                </button></td>
            </tr>
            </tbody>
        </table>
        <script src="../layui/layui.js"></script>
        <script>
            //注意：导航 依赖 element 模块，否则无法进行功能性操作
            layui.use('element', function(){
                var element = layui.element;

                //…
            });
        </script>
    </body>
</html>