<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>Title</title>
        <link rel="stylesheet" href="https://cdn.staticfile.org/twitter-bootstrap/3.3.7/css/bootstrap.min.css">
        <script src="https://cdn.staticfile.org/jquery/2.1.1/jquery.min.js"></script>
        <script src="https://cdn.staticfile.org/twitter-bootstrap/3.3.7/js/bootstrap.min.js"></script>
        <script src="../layer/layer.js"></script>
        <link rel="stylesheet" href="../layui/css/layui.css"  media="all">
    </head>
    <body>
        <nav class="navbar navbar-default" role="navigation">
            <div class="container-fluid">
                <div class="navbar-header">
                    <a class="navbar-brand" href="#">图书</a>
                </div>
                <div>
                    <ul class="nav navbar-nav">
                        <li><a href="/test/showBook">借阅图书</a></li>
                        <li><a href="/test/myborrow">我的借阅</a></li>
                        <li><a href="/test/selRe">待归还</a></li>
                    </ul>
                </div>
            </div>
        </nav>
    </body>
</html>