<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.mapper.BorrowMapper">

    <resultMap id="BaseResultMap" type="com.example.demo.pojo.Borrow">
        <result column="id" jdbcType="INTEGER" property="id" />
        <result column="bookname" jdbcType="VARCHAR" property="bookname" />
        <result column="author" jdbcType="VARCHAR" property="author" />
        <result column="date" jdbcType="DATE" property="date" />
        <result column="bookId" jdbcType="INTEGER" property="bookId" />
        <result column="userId" jdbcType="INTEGER" property="userId" />
        <result column="return" jdbcType="DATE" property="returnDate" />
        <result column="renew" jdbcType="DATE" property="renew" />
    </resultMap>
    <insert id="borrowBook" parameterType="com.example.demo.pojo.Borrow">
        insert into borrow (bookName,author,bookId,date,userId,deadline,state) values (#{bookName},#{author},#{bookId},#{date},#{userId},#{deadLine},0)
    </insert>
    <select id="myBorrow" resultType="com.example.demo.pojo.Borrow" parameterType="Integer">
        select * from borrow where userId=#{userId}
    </select>
    <update id="renew" parameterType="com.example.demo.pojo.Borrow">
        update borrow set deadline=#{deadLine},renew=#{renew},state=1 where id=#{id}
    </update>
    <update id="timeout" parameterType="Integer">
        update borrow set state=3 where id=#{id}
    </update>
    <update id="compensate" parameterType="Integer">
        update borrow set state=4 where id=#{id}
    </update>
    <update id="returnBook" parameterType="com.example.demo.pojo.Borrow">
        update borrow set state=2,reBook=#{returnDate} where id=#{id}
    </update>
</mapper>